.wizard-container {
    padding-top: 10px;
    z-index: 3;
}

.wizard-container .wizard-navigation {
    position: relative;
}

.title,
.card-title,
.wizard-title {
    font-weight: 700;
}

.title,
.title a,
.card-title,
.card-title a,
.wizard-title,
.wizard-title a {
    color: #3C4858;
    text-decoration: none;
}

.wizard-card {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wizard-card .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .wizard-card .picture:hover {
        border-color: #2ca8ff;
    }

.wizard-card .moving-tab {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -4px;
    left: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="purple"] .moving-tab {
    background-color: #9c27b0;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.wizard-card[data-color="purple"] .picture:hover {
    border-color: #9c27b0;
}

.wizard-card[data-color="purple"] .choice:hover .icon, .wizard-card[data-color="purple"] .choice.active .icon {
    border-color: #9c27b0;
    color: #9c27b0;
}

.wizard-card[data-color="green"] .moving-tab {
    background-color: #4caf50;
    box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.wizard-card[data-color="green"] .picture:hover {
    border-color: #4caf50;
}

.wizard-card[data-color="green"] .choice:hover .icon, .wizard-card[data-color="green"] .choice.active .icon {
    border-color: #4caf50;
    color: #4caf50;
}

.wizard-card[data-color="blue"] .moving-tab {
    background-color: #00bcd4;
    box-shadow: 0 16px 26px -10px rgba(0, 188, 212, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.wizard-card[data-color="blue"] .picture:hover {
    border-color: #00bcd4;
}

.wizard-card[data-color="blue"] .choice:hover .icon, .wizard-card[data-color="blue"] .choice.active .icon {
    border-color: #00bcd4;
    color: #00bcd4;
}

.wizard-card[data-color="orange"] .moving-tab {
    background-color: #ff9800;
    box-shadow: 0 16px 26px -10px rgba(255, 152, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
}

.wizard-card[data-color="orange"] .picture:hover {
    border-color: #ff9800;
}

.wizard-card[data-color="orange"] .choice:hover .icon, .wizard-card[data-color="orange"] .choice.active .icon {
    border-color: #ff9800;
    color: #ff9800;
}

.wizard-card[data-color="red"] .moving-tab {
    background-color: #f44336;
    box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.wizard-card[data-color="red"] .picture:hover {
    border-color: #f44336;
}

.wizard-card[data-color="red"] .choice:hover .icon, .wizard-card[data-color="red"] .choice.active .icon {
    border-color: #f44336;
    color: #f44336;
}

.wizard-card .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.wizard-card .picture-src {
    width: 100%;
}

.wizard-card .tab-content {
    min-height: 340px;
    padding: 20px 15px;
}

.wizard-card .wizard-footer {
    padding: 5px 15px 25px 15px;
}

    .wizard-card .wizard-footer .checkbox {
        margin-top: 16px;
    }

.wizard-card .disabled {
    display: none;
}

.wizard-card .wizard-header {
    text-align: center;
    padding: 25px 0 35px;
}

    .wizard-card .wizard-header h5 {
        margin: 5px 0 0;
    }

.wizard-card .nav-pills > li {
    text-align: center;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 30px 0 10px;
}

.wizard-card .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

    .wizard-card .choice .icon {
        text-align: center;
        vertical-align: middle;
        height: 116px;
        width: 116px;
        border-radius: 50%;
        color: #999999;
        margin: 0 auto 20px;
        border: 4px solid #CCCCCC;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

    .wizard-card .choice i {
        font-size: 40px;
        line-height: 111px;
    }

    .wizard-card .choice:hover .icon, .wizard-card .choice.active .icon {
        border-color: #2ca8ff;
    }

    .wizard-card .choice input[type="radio"],
    .wizard-card .choice input[type="checkbox"] {
        position: absolute;
        left: -10000px;
        z-index: -1;
    }

.wizard-card .btn-finish {
    display: none;
}

.wizard-card .description {
    color: #999999;
    font-size: 14px;
}

.wizard-card .wizard-title {
    margin: 0;
}

/*            Navigation menu                */
.nav-pills {
    background-color: rgba(200, 200, 200, 0.2);
}

    .nav-pills > li + li {
        margin-left: 0;
    }

    .nav-pills > li > a {
        border: 0 !important;
        border-radius: 0;
        line-height: 18px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        min-width: 100px;
        text-align: center;
        color: #555555 !important;
    }

        .nav-pills > li.active > a,
        .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus,
        .nav-pills > li > a:hover,
        .nav-pills > li > a:focus {
            background-color: inherit;
        }

    .nav-pills > li i {
        display: block;
        font-size: 30px;
        padding: 15px 0;
    }

html, body, section.wellcome_area {
    height: auto !important;
}

.wizard-container {
    margin-bottom: 30px !important;
}

div.img {
    text-align: center;
}

label.error {
    margin-top: 5px;
    margin-bottom: 0;
}

.row-main {
    padding-top: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

#scrollUp {
    display: none !important;
}

@media (min-width: 992px) {
    .row-main {
        padding-top: 100px;
    }
}

@media (max-width: 767px) {
    .container-main {
        padding: 0 !important;
    }

    .wizard-header .wizard-title {
        font-size: 22px;
    }

    .wizard-header h5 {
        font-size: 16px;
        margin-top: 10px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .wizard-card .info-text {
        font-size: 18px;
        margin: 20px 0 20px;
    }

    .moving-tab, .nav-pills > li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}